body {
  font-family: arial;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center; }

/* VARIABLES */
body {
  height: 100vh;
  color: #ffffff;
  background: #243E7B;
  /* Old browsers */
  background: -moz-linear-gradient(top, #243E7B 0%, #0F59DF 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #243E7B), color-stop(100%, #0F59DF));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #243E7B 0%, #0F59DF 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #243E7B 0%, #0F59DF 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #243E7B 0%, #0F59DF 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #243E7B 0%, #0F59DF 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 );
  /* IE6-9 */ }

.wrapper {
  margin-top: 10vh;
  padding: 2.5em 0 1em;
  background-color: #fafafa;
  border-radius: 15px; }

.header {
  height: 10vh; }
  .header h1 {
    font-size: 3vw; }
  .header .header--brand,
  .header .header--title {
    padding: 5px 10px; }
  .header .header--brand {
    background: #0F59DF;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0F59DF 0%, #010E43 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0F59DF), color-stop(100%, #010E43));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0F59DF 0%, #010E43 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0F59DF 0%, #010E43 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0F59DF 0%, #010E43 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0F59DF 0%, #010E43 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 );
    /* IE6-9 */
    border-radius: 5px 0 0 5px; }
  .header .header--title {
    background: #CE4950;
    /* Old browsers */
    background: -moz-linear-gradient(top, #CE4950 0%, #9D2230 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CE4950), color-stop(100%, #9D2230));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #CE4950 0%, #9D2230 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #CE4950 0%, #9D2230 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #CE4950 0%, #9D2230 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #CE4950 0%, #9D2230 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 );
    /* IE6-9 */
    border-radius: 0 5px 5px 0; }

.bet-list {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2em;
  text-align: left; }
  @media screen and (min-width: 1024px) {
    .bet-list {
      width: 60%;
      margin-left: 20%;
      margin-right: 20%; } }
  .bet-list caption {
    width: 99%;
    margin: auto;
    padding: 4px 0;
    color: #010E43;
    background-color: #ffffff;
    font-weight: bold; }
  .bet-list .bets {
    color: #010E43;
    background-color: #ffffff; }
    .bet-list .bets tr:nth-child(odd) {
      color: #ffffff;
      background-color: gray; }
  .bet-list .bet__event,
  .bet-list .bet__name,
  .bet-list .bet__odds {
    padding: 5px 0 5px 15px; }
  .bet-list .bet__remove {
    display: none;
    position: relative;
    top: 8px;
    left: 6px;
    font-size: 16px;
    font-weight: bold; }
  .bet-list .js-odds {
    cursor: pointer; }

.active-bet .bet__remove {
  display: block; }

.betslip,
.betreceipt {
  width: 76%;
  margin: auto; }
  .betslip h1,
  .betreceipt h1 {
    font-size: 3vw;
    background: #0F59DF;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0F59DF 0%, #010E43 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0F59DF), color-stop(100%, #010E43));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0F59DF 0%, #010E43 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0F59DF 0%, #010E43 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0F59DF 0%, #010E43 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0F59DF 0%, #010E43 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 );
    /* IE6-9 */
    border-radius: 5px; }
  .betslip .receipt-display,
  .betreceipt .receipt-display {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px dotted gray; }
  .betslip .selection__title,
  .betslip .receipt__title,
  .betreceipt .selection__title,
  .betreceipt .receipt__title {
    padding: .25em;
    color: #010E43;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em; }
  .betslip .selections,
  .betslip .receipt,
  .betreceipt .selections,
  .betreceipt .receipt {
    margin-top: -10px;
    color: #010E43;
    background-color: #fafafa; }
  .betslip .receipts,
  .betreceipt .receipts {
    width: 34%;
    margin: auto;
    padding: .25em 0 1em; }
  .betslip .js-selection,
  .betreceipt .js-selection {
    width: 52%;
    margin: auto;
    padding-bottom: 10px;
    padding-left: .5em;
    border-bottom: 1px dotted gray; }

.is-invalid .error {
  margin: 1em 0;
  padding: 1em;
  color: #981422;
  background: #f1eeee;
  border-radius: 8px;
  font-size: 1.25em;
  font-weight: bold; }

/*# sourceMappingURL=styles.css.map */
