/* VARIABLES */

// Font sizes
$bannerHeading: 3vw;
$sectionHeading: 1.5em;

// Colours
$white: #ffffff;
$darkBlue: #010E43;
$blue: #243E7B;
$liteBlue: #0F59DF;
$darkRed: #9D2230;
$red: #981422;
$liteRed: #CE4950;
