@import "reset";
@import "variables";
@import "mixins";

body {
  height: 100vh;
  color: $white;
  @include linearGradient($blue, $liteBlue);
}

.wrapper {
  margin-top: 10vh;
  padding: 2.5em 0 1em;
  background-color: #fafafa;
  border-radius: 15px;
}
.header {

  height: 10vh;

  h1 {
    font-size: $bannerHeading;
  }
 
  .header--brand,
  .header--title {
    padding: 5px 10px;
  }
  .header--brand {
    @include linearGradient($liteBlue, $darkBlue);
    border-radius: 5px 0 0 5px;
  }
  .header--title {
    @include linearGradient($liteRed, $darkRed);
    border-radius: 0 5px 5px 0;
  }

}

.bet-list {
  width: 90%; 
  margin-left: 5%; 
  margin-right: 5%;
  margin-bottom: 2em;
  text-align: left;

  @include mQ(1024px) {
    width: 60%; 
    margin-left: 20%; 
    margin-right: 20%;
  }


  caption {
    width: 99%;
    margin: auto;
    padding: 4px 0;
    color: $darkBlue;
    background-color: $white;
    font-weight: bold;
  }

  .bets {
    color: $darkBlue;
    background-color: $white;
    tr:nth-child(odd) {
        color: $white;
        background-color: gray;
    }
  }
}

.betslip,
.betreceipt {

  width: 55%;
  margin: auto;

  h1 {
    font-size: $bannerHeading;
    @include linearGradient($liteBlue, $darkBlue);
    border-radius: 5px;
  }

  .selection__title {
    padding: .25em;
    color: $darkBlue;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
  }

  .selections {
    margin-top: -20px;
    margin-bottom: 11px;
    color: $darkBlue;
    background-color: #fafafa;
  }
  .js-selection {
    padding-bottom: 10px;
    padding-left: .5em;
    border-bottom: 1px dotted gray;
  }

}